html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sticky-top {
  background-color: #f57c00; /* Orange */
  z-index: 1030;
}

.main-content {
  flex: 1;
  background-color: #eee;
  padding: 2rem;
}

.footer {
  background-color: #f9eedb;
  padding: 10px 0;
  text-align: center;
  font-size: 0.9rem;
}

.footer a {
  color: #f57c00;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.nav-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
}

.nav-profile {
  background-color: #29b6f6;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.nav-link {
  color: black !important;
  font-weight: 500;
}

.nav-link.active {
  font-weight: bold;
}

.nav-profile::after {
      display: none;
      
}
.nav-logo i {
  font-size: 24px; /* Adjust the icon size */
  color: #333; /* Icon color */
}

.nav-profile .profile-placeholder {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff; /* Background color of the placeholder */
  color: white; /* Text color */
  border-radius: 50%; /* Circular shape */
  font-size: 18px;
  font-weight: bold;
}